<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <form role="form" action="/joinProc" th:object="${memberdto}" method="post">
        <div class="form-group">
            <label for="email" class="form-label">EMAIL</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="이메일 입력해주세요">
        </div>
        <div class="form-group">
            <label for="username" class="form-label">이름</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
    <br/>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>
